<template>
<div class="filter">
  <form>
    <div class="mb-3">
      <label class="form-label" for="filterFormTown">Town</label>
      <select
        v-model="filterForm.town"
        multiple="multiple"
        class="form-control"
        id="filterFormTown">
        <option v-for="town in towns" :value="town.id" v-bind:key="town.id">{{town.name}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="filterFormBedrooms">Nb. of bedrooms</label>
      <input
        v-model="filterForm.nb_bedrooms"
        type="number"
        min="1"
        name="nb_bedrooms"
        class="form-control"
        id="filterFormBedrooms" />
    </div>
    <div class="mb-3">
      <label for="filterFormPriceFrom" class="form-label">Price</label>
      <div class="input-group">
        <input
          v-model="filterForm.price.from"
          type="number"
          class="form-control"
          id="filterFormPriceFrom"
          min="1" />
        <span class="input-group-text">-</span>
        <input
          v-model="filterForm.price.to"
          type="text"
          class="form-control"
          id="filterFormPriceTo"
          min="1" />
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Property type</label>
        <div class="form-inline">
          <div class="form-check form-check-inline">
            <input
              v-model="filterForm.type"
              type="radio"
              value="1"
              class="form-check-input"
              id="filterFormTypeRent" />
            <label for="filterFormTypeRent" class="form-check-label">Rent</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              v-model="filterForm.type"
              type="radio"
              value="2"
              class="form-check-input"
              id="filterFormTypeSale" />
            <label for="filterFormTypeSale" class="form-check-label">Sale</label>
          </div>
        </div>
    </div>
    <button class="btn btn-outline-primary" type="reset">Reset</button>
  </form>
</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import api from "./api";

interface Town {
  id: number
  name: string
}

export default defineComponent({
  name: 'filter',
  data: () => ({
    towns: [] as Town[],
    filterForm: {
      town: null,
      nb_bedrooms: null,
      price: {
        from: null,
        to: null
      },
      type: null
    }
  }),
  watch: {
    filterForm: {
      handler(params) {
        this.$store.commit('updateRoomFilterData', params)
      },
      deep: true,
    }
  },
  created() {
    api.get<{
      data: Town[]
    }>('towns')
      .then(res => {
        this.$data.towns = res.data.data;
      });
  }
})
</script>
