<template>
<div class="rooms">
  <div class="row row-cols-2 row-cols-md-4 row-cols-xl-3">
    <div class="rooms__col" v-for="room in rooms" v-bind:key="room.id">
      <div class="card room-card">
        <img :src="room.image.thumbnail" alt="room" class="card-img-top" loading="lazy" />
        <div class="card-body">
          <h5 class="card-title">Room {{ room.id }}</h5>
          <div class="card-text">{{ room.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="pt-4">
  <ul class="pagination">
    <li class="page-item" v-if="pagination.prevPage">
      <a
        class="page-link"
        href="#"
        @click="gotoPreviousPage">Previous</a>
    </li>
    <li
      class="page-item"
      :class="{'active': page === pagination.currentPage}"
      v-for="page in pagination.totalPages"
      v-bind:key="page">
      <a
        class="page-link"
        href="#"
        @click="$store.commit('updateRoomFilterData', {page})">{{page}}</a>
    </li>
    <li class="page-item" v-if="pagination.nextPage">
      <a
        class="page-link"
        href="#"
        @click="gotoNextPage">Next</a>
    </li>
  </ul>
</nav>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import api from "./api";

interface Room {
  id: number
  address: string
  description: string
  coordinates: [number, number]
  image: {
    original: string
    thumbnail: string
  }
}

interface Pagination {
  prevPage: boolean,
  nextPage: boolean,
  currentPage: number,
  totalPages: number
}

interface RoomListQueryResponse {
  data: Room[]
  links: {
    prev: string | null
    next: string | null
  }
  meta: {
    current_page: number
    last_page: number
    total: number
    from: number
    to: number
  }
}

export default defineComponent({
  name: 'RoomCollection',
  data: () => ({
    pagination: {
      prevPage: false,
      nextPage: false,
      currentPage: 1,
      totalPages: 1
    } as Pagination,
    rooms: [] as Room[]
  }),
  methods: {
    getRooms(params?: Record<string, any>) {
      return api.get<RoomListQueryResponse>('rooms', {
        params
      })
        .then(res => {
          this.rooms = res.data.data;
          this.pagination = new Proxy<RoomListQueryResponse>(res.data, {
            get(target, p) {
              switch (p) {
                case 'prevPage':
                  return target.links.prev;
                case 'nextPage':
                  return target.links.next;
                case 'currentPage':
                  return target.meta.current_page;
                case 'totalPages':
                  return target.meta.last_page;
                case 'totalItems':
                  return target.meta.total;
                default:
                  return undefined;
              }
            }
          }) as any;
        })
        .catch(err => {
          document.body.innerHTML = err.response.data
          console.log({...err})
        });
    },
    gotoPreviousPage() {
      this.$store.commit('updateRoomFilterData', {
        page: this.$store.getters.roomsFilterParams.page - 1
      })
    },
    gotoNextPage() {
      this.$store.commit('updateRoomFilterData', {
        page: this.$store.getters.roomsFilterParams.page + 1
      })
    }
  },
  created() {
    // @ts-ignore
    this.unWatchFilterChanges = this.$store.watch(
      state => state.rooms.filter.formData,
      (params: any)  => this.getRooms(params),
      {
        immediate: true,
        deep: true
      }
    )
  },
  unmounted() {
    // @ts-ignore
    this.unWatchFilterChanges();
  }
})
</script>

<style scoped lang="scss">
  .rooms {
    & > .row {
      --bs-gutter-y: 1.5rem;
    }

    .room-card {
      height: 100%;
    }
  }
</style>
